
<div class="container">
    <h2> View 1</h2>


    <h1>{{umbc.title1}} </h1>
    <h2>{{umbc.title2}} </h2>

    <!--
        - Example of adding a part of html code using ng-include
        - This section share the controller scope
         -->
    <div ng-include="'customeDirective.html'"></div>

    <table>
        <tr>
            <th>
                <span><a href="#/view3">Go to View3</a> </span>
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <!--<th><a href="#/view3">Go to View3 (SpreadJS)</a> </th>-->

        </tr>
    </table>

</div>`


