
<div class="container">
    <h2> View 3</h2>
    <div cust-directive schedule="umbc.schedule"></div>

    <table>
        <tr>
            <th>
                <span><a href="#/view1">Go to View1</a> </span>
            </th>
            <td></td>
            <td></td>
            <td></td>

    


            <h1>{{umbc.title1}} </h1>
            <h2>{{umbc.title2}} </h2>

   
            <!--
    - Example of adding custome directive as attribute
    - This section uses isolated scope and we pass the array to it
     -->


            <div cust-directive schedule="schedule"></div>


        </tr>
        <tr>
            <th>
                <span><a href="#/view2">Go to View2</a> </span>
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <!--<th><a href="#/view3">Go to View3 (SpreadJS)</a> </th>-->

        </tr>
      </table>

</div>`


